Source: pg2mongo
Section: python
Priority: optional
Maintainer: Sathya, <datawrangl3r@gmail.com>
Build-Depends: debhelper (>= 9), python3
Standards-Version: 3.9.2
X-Python3-Version: >= 3.2

Package: pg2mongo
Architecture: all
Section: python
Depends: python, ${misc:Depends}, ${python3:Depends}
Description: A postgres to mongo migrator
